body {
  font-family: Arial;
  padding: 20px;
}

#resultados {
  margin-top: 20px;
}

.tarjeta {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error {
  color: red;
}